:root {

}

html {
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Atyp';

  background-color: #070707;

}

.container {
  max-width: 1320 + px;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    max-width: 400px;
  }

  @media screen and (min-width: 575.98px) {
    max-width: 480px;
  }

  @media screen and (min-width: 767.98px) {
    padding: 0 20px;
    max-width: 705px;
  }

  @media screen and (min-width: 991.98px) {
    padding: 0 30px;
    max-width: 990px;
  }

  @media screen and (min-width: 1199.98px) {
    max-width: 1200px;
  }

  @media screen and (min-width: 1439.98px) {
    max-width: 1420px;
  }

}

@font-face {
  font-family: Inter;
  src: url('@/assets/fonts/Inter-Thin.woff') format("woff");
  font-weight: 100;
  font-style: normal
}

@font-face {
  font-family: Inter;
  src: url('@/assets/fonts/Inter-ExtraLight.woff') format("woff");
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: Inter;
  src: url('@/assets/fonts/Inter-Light.woff') format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: Inter;
  src: url('@/assets/fonts/Inter-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Inter;
  src: url('@/assets/fonts/Inter-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Inter;
  src: url('@/assets/fonts/Inter-SemiBold.woff') format("woff");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: Inter;
  src: url('@/assets/fonts/Inter-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Inter;
  src: url('@/assets/fonts/Inter-Black.woff') format("woff");
  font-weight: 800;
  font-style: normal
}


@font-face {
  font-family: Atyp;
  src: url('@/assets/fonts/AtypText-Light.woff') format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: Atyp;
  src: url('@/assets/fonts/AtypText-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Atyp;
  src: url('@/assets/fonts/AtypText-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Atyp;
  src: url('@/assets/fonts/AtypText-Semibold.woff') format("woff");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: Atyp;
  src: url('@/assets/fonts/AtypText-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal
}


.splide {
  &__track {
    overflow: hidden;
    position: relative;
    z-index: 0;
    transition: height 0.5s ease-in-out;

    > .splide__list {
      display: block !important;
      transition: opacity 0.5s ease-in-out;

      > .splide__slide {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        &.is-active {
          opacity: 1;
          position: relative !important;
          z-index: 1;
          transform: translateX(0) !important;
        }

        &.q-active {
          position: relative;
          opacity: 1;
        }

      }
    }
  }
}
